version: "3.9"

services:

  ollama:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    container_name: ollama
    restart: always
    networks:
      - app-net
    ports:
      - "11434:11434"

  backend:
    build:
      context: .
      dockerfile: src/backend/Dockerfile
    container_name: backend
    restart: always
    env_file:
      - ./src/backend/.env
    networks:
      - app-net
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama

  frontend:
    build:
      context: .
      dockerfile: src/frontend/Dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - backend
    networks:
      - app-net
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=https://genaipoconline.online/api

networks:
  app-net:
    driver: bridge


