  
services:
  backend:
    build:
      context: .
      dockerfile: src/backend/Dockerfile
    container_name: backend
    restart: always
    env_file:
      - ./src/backend/.env       # your Astra, Google, etc.
    networks:
      - app-net
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: src/frontend/Dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - backend
    networks:
      - app-net
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL= http://backend:8000

  nginx:
    image: nginx:stable
    container_name: nginx
    restart: always
    depends_on:
      - backend
      - frontend
    networks:
      - app-net
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

networks:
  app-net:
    driver: bridge
